html, body {
    margin: 0px;
    height: 100%;
    background-color: rgb(10, 30, 30);
}

a:link {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

a:visited {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.v-flex {
    display: flex;
    flex-direction: column;

    color: rgb(200, 200, 200);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}


#home:hover {
    color: rgb(100, 255, 100);
    text-decoration: none;
}

#about:hover {
    color: rgb(100, 255, 255);
    text-decoration: none;
}

#projects:hover {
    color: rgb(255, 100, 100);
    text-decoration: none;
}

#notlinkedin:hover {
    color: rgb(255, 100, 255);
    text-decoration: none;
}

#contact:hover {
    color: rgb(255, 255, 100);
    text-decoration: none;
}

#top {
    width: 99.5vw;

    padding-bottom: .5vh;
    padding-top: .5vh;
    padding-left: .5vw;
    background-color: rgb(55, 60, 65);
    border-bottom: 1px solid rgb(95, 80, 55);
}
