#center_box {
    align-self: center;
    display: flex;
    justify-content: center;
   
    margin-top: 35vh;
    
    border: 1px solid rgb(200, 200, 200);
}

#text_box {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 25vh;
    margin-right: 25vh;
}

#text_box div {
    text-align: center;
}