img {
    max-height: 50%;
    max-height: 50%;
}

.pre_text {
    max-width: 10vw;
 }

#pre-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 95vh;
    max-width: auto;
    
    cursor: grab;
    overflow: auto;
}
