#pre-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 95vh;
    max-width: auto;
    
    cursor: grab;
    overflow: auto;
}