{% extends 'layout.html' %}

{% block content %}
<div id="homenet-box">

    <div class="dragscroll" id="homenet-prebox">
        <pre>
        {% include 'txt/pohomenet80.txt' %}
        </pre>
    </div>

    <div id="homenet-imgbox">
        <div class="dragscroll" id="homenet-pbox">
            <img class="homenet-img" src="/static/img/homenet-physical.png" alt="homenet-physical.png">
        </div>
        <div class="dragscroll" id="homenet-lbox">
            <img class="homenet-img" src="/static/img/homenet-logical.png" alt="homenet-logical.png">
        </div>
    </div>

</div>
{% endblock %}