<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/default.css">
</head>
<body>
    <div class="v-flex">
        <div class="meduim" id="top">{% include 'elements/e_top.html' %}</div>
        <pre class=pre_txt>
           {% include 'txt/posaltymicro.txt' %}
        </pre>
    </div>
</body>
</html>