{% extends 'layout.html' %}

{% block content %}
<div class="vbox">
<div class="cbox" id="about-cbox">
    <p class="about-p" id="about-justify">
        In case it's not obvious, I am not a web developer. I prefer programming or 
        network engineering. I do love learning new things, however; which is exactly
        why I opted to create this website myself. Although it lacks the bells and 
        whistles of a professional undertaking, what I ended up with is more than
        meets the eye. Just like me.
    </p>
    <p class="about-p">
        I enjoy simplifying complex problems. I love automation, modularity, and --most importantly-- 
        documentation.
    </p>
    <p class="about-p"> 
        Essentially, I love saving time.
    </p>
</div>
</div>
{% endblock %}