<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/default.css">
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="v-flex">
        <div id="top">{% include 'elements/e_top.html' %}</div>
        <div id="center_box">
            <div id="text_box">
                <p>
                    In case its not obvious, I am not a web developer. I prefer programming or 
                    network engineering. I do love learning new things, however; which is exactly
                    why I opted to create this website myself. Although it lacks the bells and 
                    whistles of a professional undertaking, what I ended up with is more than
                    meets the eye. Just like me.
                </p>
                <p class="center_p">
                    I enjoy simplifying complex problems. I love automation, modularity, and --most importantly-- 
                    documentation.
                </p>
                <p class="center_p"> 
                    Essentially, I love saving time.
                </p>
            </div>
        </div>
    </div>
</body>
</html>