{% extends 'layout.html' %}

{% block content %}
<div class="vbox">
<div class="cbox">
    <div id="notlinkedin-box">
        <div id="notlinkedin-title">
            I do not to have a LinkedIn account.
        </div>
        <div id="notlinkedin-links">
            {% for fl in fl_list %}
            <p><a href="{{ fl.url }}" onMouseOver="this.style.color='{{fl.color}}'" onMouseOut="this.style.color='{{fl.d_color}}'" target="_blank">{{ fl.alias }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}