{% extends 'layout.html' %}

{% block content %}
    {% for p in pj_list %}
        <div id="project-box">
            <div id="project-info">
                <div id="project-title"><p>{{p.title}}</p></div>
                <div>{{p.desc}}</div>
            </div>
            <div id="project-links">
                {% for fl in p.links %}
                    <a href="{{fl.url}}" onMouseOver="this.style.color='{{fl.color}}'" onMouseOut="this.style.color='{{fl.d_color}}'">{{fl.alias}}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}