{% extends 'layout.html' %}

{% block content %}

    {% for p in project_list %}
        <div id="project-box">
            <div id="project-info">
                <div id="project-title"><p>{{p.title}}</p></div>
                <div>{{p.desc}}</div>
            </div>
            <div id="project-links">
                {% for l in p.links %}
                    <a href="{{l.url}}" onMouseOver="this.style.color='{{l.color}}'" onMouseOut="this.style.color='rgb(200, 200, 200)'">{{l.alias}}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}