<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/default.css">
    <link rel="stylesheet" href="/static/projects.css">
</head>
<body>
    <div class="v-flex">

        <div id="top">{% include 'elements/e_top.html' %}</div>

        <div class="v-flex">
            {% for p in project_list %}

            <div class="project">

                <div class="project-infobox">

                    <div class="project-desc">
                        <div class="project-title"><p>{{p['title']}}</p></div>
                        <div>{{p['desc']}}</div>
                    </div>

                    <div class="project-links">
                        {% for l in p['links'] %}
                            <a href="{{l['url']}}">{{l['title']}}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>